body { font: 13px/1.6 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; max-width: 500px; }

h1 {font-size: 24px; line-height: 24px; margin-top: 0px; margin-top: 40px;}
h1 a {text-decoration: none;}
h1 a:hover {text-decoration: underline;}
h1 img {border: 4px solid black; float: right;}

header {position: absolute; top: 5px; left: 10px; margin: 0;}
header * {opacity: 0.5}
header :hover {opacity: 1}

#intro { font-style: italic}


li {border-bottom: 1px solid #bbb; display: block;list-style: none; color: #333;}
li:first-of-type { font-weight: bold; color: #000; }
ul {padding-left: 0px;}
li * { vertical-align: top; }
li a {
  display: inline-block;
  width: 200px;
}
li time, li:first-of-type > span:first-of-type {
  display: inline-block;
  width: 100px;
}
a {color: #333;}
a:visited {color: #333}
a:hover {color: #000}

footer { position: absolute; bottom: 5px; right: 5px;}
