body { font: 13px/1.6 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; max-width: 500px; }
h1 {font-size: 24px; line-height: 24px; margin-top: 0px; margin-top: 40px;}
h1 a {text-decoration: none;}
h1 a:hover {text-decoration: underline;}

header {position: absolute; top: 5px; left: 10px; margin: 0;}
header * {opacity: 0.5}
header :hover {opacity: 1}

a {color: #333;}
a:visited {color: #333}
a:hover {color: #000}
