img {
  max-width: 100%;
}

aside {
  position: fixed;
  display: block;
  bottom: 0; left: 0; width: 100%;
  background: black;
  color: #fff;
  font-size: 12px; line-height: 18px;
  font-weight: normal;
  text-indent: 22px;
  background-image: url(/favicon.ico);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.float-right { float: right; margin: 8px;}
.float-left { float: left; margin: 8px;}

body > article {
  display: block;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  padding: 20px 10px;
}

body {
  font: 1em/1.425em sans-serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  position: relative;
  margin: 0;
}

article p {
  color:#111;
  text-align: justify;
}

article > * {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6,.quote,q {
  font-weight: normal;
  color: #333;
  line-height: 1.1em;
}


h1 { font-size: 2.125em; margin-bottom: 0.765em; }
h2 { font-size: 1.9em;  margin-bottom: 0.855em; }
h3 { font-size: 1.7em;  margin-bottom: 0.956em; }
h4 { font-size: 1.4em;  margin-bottom: 1.161em; }
h5,h6 { font-size: 1.313em;  margin-bottom: 1.238em; }

ul{list-style-position:outside;}

dl { margin: 0 0 1.625em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.625em; }

a { color:#FF0066; text-decoration:none; }
a:hover { text-decoration: underline; }

strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.625em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.625em 0; }
hr { margin-bottom:1.625em; }

/* Specific homepage stuff */
#home h1 { padding-left: 170px; }
#home li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 10px;
  list-style: none;
}
#home li time {
  margin-right: 20px;
  margin-left: -10px;
  display: inline-block;
  width: 120px;
  text-align: right;
  color: #aaa;
}
#home aside {
  background-color: white;
  color: black;
}


@media (max-width: 800px) {
  #home h1 { padding-left: 40px; }
  #home li time { display: none; }
  aside { position: static; }
}


#meta:before {
  content: "…";
  text-align: center;
  display: block;
  max-width: 600px;
  margin: 30px 0;
}

#meta {
  clear:both;
  text-align: center;
  margin: 0;
}

#comments {
  opacity: 0;
    max-width: 600px;
    margin: auto;
    padding: 20px 40px;
    position: relative;
}
#comments.showme {opacity: 1;}

q, .quote {
  padding: 20px 40px 20px 60px;
  position: relative;
  background-color: #EEEEEE;
  border-radius: 10px;
}
.quote:before { content: "“"; position: absolute;
top: 0.3em; left: 5px; color: #FFF; font-size: 3em;}

.tldr:before {
  content: "tl;dr ";
  font-weight: bold;
  font-style: normal;
  color: #444;
}
.tldr {
  font-style: italic;
  color: #888;
}

article .postimg {
    border: 5px solid #261C21;
    display: block;
    max-width: 390px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.noborder {
  border: none!important;
}
