body {
    background-color: #261C21;
    color: #FAE50B;
    font-family: 'Cantarell', monospace;
    padding-top: 20px;
}

.float-right { float: right; margin: 8px;}
.float-left { float: left; margin: 8px;}

/*
header > a { opacity: .5;  -moz-transition: 0.3s; -webkit-transition: 0.3s; display: block}
header > a:hover { opacity: 1;}
*/

header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    font-family: 'Helvetica Neue',Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #FAE50B;
}
header a {
    font-weight: 700;
    color: #FF0066;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
#rss-button svg { margin: 0px 0 2px 0; width: 10px; height: 10px; vertical-align: bottom;}
#rss-button svg * { fill: #FAE50B}
article {
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: #FAE50B;
    color: #261C21;
    box-shadow: 0 10px 20px 10px black;
    border-radius: 3px;
    padding: 40px;
    background: -moz-linear-gradient(top, #FAE50B, #EE9E00);
    background: -webkit-linear-gradient(top, #FAE50B, #EE9E00);
    padding-bottom: 20px;
    margin-bottom: 100px;
    position: relative;
}

article h1, article h2 {
    font-weight: 900;
    vertical-align: middle;
    font-size: 1.55em;
    line-height: 1.6em;
}
article p {text-align: justify}
article * {max-width: 400px}

/* List */
li { list-style: none}
ul { padding-left: 0; }
article li:before {content: "⇢"; margin-right: 5px;}

/* Links */
article a { color: #FF0066!important}

/* Specific homepage stuff */
#home li a {
    max-width: 300px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#home li > * {vertical-align: top;}
#home li:before { content: ""; }
#home li time {
    margin-right: 20px;
    margin-left: -10px;
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    width: 70px;
    text-align: right;
}
#home li {margin-bottom: 10px;}

/* Highlight */
article h1, article h2 {
    background-color: #261C21;
    color: #FAE50B;
    border: 0.2em solid #261C21;
}

article footer a * {
    vertical-align: middle;
}

article footer a {
    color: #261C21!important;
    text-decoration: none;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
article footer:hover a {
    color: #FF0066!important;
}
article footer img {width: 60px;}
article footer {
    font-size: 30px;
    margin-top: 20px;
    display: block;
}

/* meta */
#meta {
    text-align: right;
    position: absolute;
    bottom: -30px; right: 5px;
}
#meta > * {
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    color: #FAE50B;
}
#meta #date {
    vertical-align: middle;
}
#meta #twitter {
    text-decoration: none;
}
#meta #twitter span, #showcomments {
    max-width: 0px;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background-color: #EE9E00;
    border-radius: 3px;
}
#meta #twitter:hover span {
    max-width: 100px;
    padding-left: 4px;
    padding-right: 4px;
}
#meta #twitter img {
    width: 13px;
    background-color: #EE9E00;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #261C21;
    margin-right: 4px;
    vertical-align: middle;
}

#showcomments {
    max-width: 100px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

.highlight {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.frame {
    position: relative;
    left: 195px;
    display: block;
    box-shadow: 0 0 10px black;
    border: 5px solid #FAE50B;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 10000px;
}

hr { visibility: hidden; }


#comments {opacity: 0; -moz-transition: 0.2s; -webkit-transition: 0.2s;}
#comments.showme {opacity: 1;}

#comments {
    background: #EE9E00;
    color: #261C21;
    width: 400px;
    margin: auto;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: 50px;
    position: relative;
}

article .postimg {
    border: 5px solid #261C21;
    display: block;
    max-width: 390px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

article .postimg+em {
    display: block;
    margin-top: -30px;
    text-align: center;
}
