body {
    background-color: #261C21;
    color: #FAE50B;
    font-family: 'Cantarell', monospace;
    padding-top: 20px;
}

article {
    background: #FAE50B;
    color: #261C21;
    background: -moz-linear-gradient(top, #FAE50B, #EE9E00);
    background: -webkit-linear-gradient(top, #FAE50B, #EE9E00);
    box-shadow: 0 0 20px black;
    width: 400px;
    margin: auto;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

article h1, article h2 {
    display: inline;
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 1.5em;
}
article p {text-align: justify}
article * {max-width: 400px}

/* List */
li { list-style: none}
li:before {content: "⇢"; margin-right: 5px;}

/* Links */
article a { color: #FF0066!important}

/* Specific homepage stuff */
#home ul {
    padding-left: 0;
}
#home li a {
    max-width: 300px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#home li > * {vertical-align: top;}
#home li:before { content: ""; }
#home li time {
    font-family: monospace;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 10px;
}
#home li {margin-bottom: 10px;}

/* Highlight */
article h1, article h2, article .wooot {
    background-color: #261C21;
    color: #FAE50B;
    outline-style: solid;
    outline-width: 0.2em;
    outline-color: #261C21;
}

article footer a * {
    vertical-align: middle;
}

article footer a {
    color: #261C21!important;
    text-decoration: none;
    -moz-transition-duration: 0.2s;
}
article footer:hover a {
    color: #FF0066!important;
}
article footer img {width: 60px;}
article footer {
    font-size: 30px;
    margin-top: 20px;
}

/* meta */
#meta {
    text-align: right;
    position: absolute;
    bottom: -30px; right: 5px;
}
#meta > * {
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    color: #FAE50B;
}
#meta #date {
    vertical-align: middle;
}
#meta #twitter {
    text-decoration: none;
}
#meta #twitter span {
    max-width: 0px;
    -moz-transition-duration: 0.2s;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background-color: #FAE50B;
    border-radius: 3px;
}
#meta #twitter:hover span {
    max-width: 100px;
    padding-left: 4px;
    padding-right: 4px;
}
#meta #twitter img {
    width: 13px;
    background-color: #FAE50B;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #261C21;
    margin-right: 4px;
    vertical-align: middle;
}


header { position: absolute; top: 10px; left: 10px; }
header > a { opacity: 0.2;  -moz-transition: 0.3s; color: #FAE50B!important; text-decoration: none; font-size: 25px; display: block;}
header > a > * { vertical-align: middle;}
header > a > span {max-width: 0px; overflow: hidden; display: inline-block; -moz-transition: 0.3s; margin-left: 15px;}
header > a:hover { opacity: 1;}
header > a:hover > span { max-width: 300px;}

.highlight {
    background-color: #261C21!important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.frame {
    position: relative;
    left: 195px;
    display: block;
    box-shadow: 0 0 10px black;
    border: 5px solid #FAE50B;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: none;
}

hr { visibility: hidden; }
