<!DOCTYPE html>

<meta charset="utf8">
<meta name="viewport" content="width=device-width; user-scalable=0" >
<link rel="stylesheet" href="/css/index.css">
<title>Paul Rouget</title>

<header><a href="http://twitter.com/paulrouget">twitter</a> <a href="http://paulrouget.com/index.xml">rss</a> <a href="http://paulrouget.com">blog</a> <a href="/s/bio">about</a></header>

<h1><a href="http://paulrouget.com">Paul Rouget<img src="/assets/twitter_avatar.jpg"></a></h1>

<p id="intro">
<a href="http://mozilla.org">Mozilla</a> staff.
Tech <a href="http://hacks.mozilla.org">Evangelist</a>.
<br>
I write code. I give talks.
I <a href="http://twitter.com/paulrouget">tweet</a>.
</p>

{{ content }}

<footer>Copyright © 2010-2011 Paul Rouget</footer>
