<!DOCTYPE html>

<meta charset="utf8">
<meta name="viewport" content="width=device-width; user-scalable=0" >
<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/stickytheme.css">
<link rel="stylesheet" href="/css/syntax.css">
<title>{{ page.title }}</title>

<header>
    <a href="http://twitter.com/paulrouget"><img src="/assets/bigtwitter.png"><span>follow&nbsp;me&nbsp;on&nbsp;twitter</span></a>
    <a href="http://paulrouget.com/index.xml"><img src="/assets/rss.png"><span>RSS&nbsp;feed</span></a>
</header>


<article>
    {{ content }}

    <footer>
        <a href="http://paulrouget.com">
            <img src="/assets/twitter_avatar.jpg"> Paul Rouget
        </a>
    </footer>

    <div id="meta">
        <span id="date">{{ page.date | date_to_string}} - </span>
        <a href="http://twitter.com/share?url=http%3A%2F%2Fpaulrouget.com%2F{{page.url | xml_escape}}" id="twitter" title="tweet this" target="_blank">
            <span>tweet&nbsp;this</span>
            <img src="/assets/twitter.png">
        </a>
    </div>
</article>
