<!DOCTYPE html>

<meta charset="utf8"/>
<meta name="description" content="{{ page.title }} - Paul Rouget's Blog"/>
<meta name="author" content="Paul Rouget"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="alternate" type="application/atom+xml" href="/index.xml"/>
<link rel="stylesheet" href="/css/mop.css">

<title>{{ page.title }} // by Paul Rouget</title>

<body>

  <aside>
    <p><a href="http://paulrouget.com"><img id="avatar" src="http://gravatar.com/avatar/a046f67399acec21282d784ac66cb009?s=160"></a>Hi. I'm Paul Rouget (<a href="/s/contact">contact</a>). I work at <a href="http://mozilla.org">Mozilla</a>. I write <a href="https://wiki.mozilla.org/DevTools">code</a>. I give talks.
    This is my blog (<a href="http://paulrouget.com/index.xml">rss</a>).
    <hr>
  </aside>

  <article>
      {{ content }}

      <footer>
        <span>{{ page.date | date_to_string}}</span>
          {% if page.comments %}
          / <a href="#comments" id="showcomments"
              onclick='document.getElementById("comments").classList.toggle("showme");document.getElementById("disqus_script").src="http://disqus.com/forums/paulrouget/embed.js"'>show comments</a>
          {% endif %}
      </footer>
  </article>

  {% if page.comments %}
  <!-- comments -->
  <div id="comments">
      <h2 class="wooot">Comments</h2>
      <div id="disqus_thread"></div><script id="disqus_script"></script>
  </div>
  {% endif %}


</body>
