<!DOCTYPE html>

<meta charset="utf8">
<meta name="viewport" content="width=device-width; user-scalable=0" >
<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/stickytheme.css">
<link rel="stylesheet" href="/css/syntax.css">
<title>{{ page.title }}</title>

<header>
    <a href="http://paulrouget.com/index.xml"><img src="/assets/rss.png"><span>subscribe</span></a>
    <a href="http://twitter.com/paulrouget"><img src="/assets/bigtwitter.png"><span>follow&nbsp;me&nbsp;on&nbsp;twitter</span></a>
</header>


<article>
    {{ content }}

    <footer>
        <a href="http://paulrouget.com">
            <img src="/assets/twitter_avatar.jpg"> Paul Rouget
        </a>
    </footer>

    <div id="meta">
        <span id="date">{{ page.date | date_to_string}} - </span>
        <a href="http://twitter.com/share?url=http%3A%2F%2Fpaulrouget.com%2F{{page.url | xml_escape}}" id="twitter" title="tweet this" target="_blank">
            <span>tweet&nbsp;this</span>
            <img src="/assets/twitter.png">
        </a>
        {% if page.comments %}
        <a href="#comments" id="showcomments" onclick='document.getElementById("comments").className="showme";document.getElementById("disqus_script").src="http://disqus.com/forums/paulrouget/embed.js"'>show comments</a>
        {% endif %}
    </div>
</article>

{% if page.comments %}
<!-- comments -->
<div id="comments">
    <h1 class="wooot">Comments</h1>
    <div id="disqus_thread"></div><script id="disqus_script"></script>
</div>
{% endif %}

<!-- Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22781000-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
